.navPanelWrapper {
	position: sticky;
	top: 0;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 3rem;
	background-color: var(--whiteColor);
	z-index: 1000;
	box-shadow: 0px 0px 2px 2px var(--darkerGrayColor);

	.logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		background-color: transparent;
		z-index: 101;

		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: all 0.3s ease-in-out;
			&:hover {
				scale: 1.05;
			}
		}
	}
	.sideBarMenuButtons {
		position: relative;
		width: 35px;
		height: 35px;
		.sideBarMenuButton {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 100%;
			background-color: transparent;
			border: none;
			opacity: 1;
			transform: translateX(0);
			transition: all 0.3s;
			cursor: pointer;
			z-index: 1000;

			.span {
				display: block;
				position: relative;
				width: 100%;
				height: 2px;
				background-color: var(--sideBarColor);
				cursor: pointer;
				&::after,
				&::before {
					content: '';
					position: absolute;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: var(--sideBarColor);
				}
				&::after {
					top: -10px;
				}
				&::before {
					top: 10px;
				}
			}
			&:hover {
				transform: scale(1.05);
			}
		}
		.toggleMenuButton {
			display: none;
		}
		.hideMenuButton {
			opacity: 0;
			transform: translateX(-100%);
		}
		.sideBarCloseButton {
			position: absolute;
			top: 0;
			left: 0;
			display: none;
			align-items: center;
			justify-content: center;
			width: 35px;
			height: 35px;
			background-color: transparent;
			border: none;
			cursor: pointer;
			// transition: all 0.3s;
			.icon {
				width: 100%;
				height: 100%;
				opacity: 0;
				scale: 0;
				transition: all 0.3s;
				path {
					stroke-width: 1px;
				}
			}
		}
		.toggleCloseButton {
			display: flex;
		}
		.displayCloseButton {
			transition: all 0.3s;
			.icon {
				opacity: 1;
				scale: 1;
				transform: rotate(360deg);
			}
		}
	}
	.navPanelMenu {
		position: relative;
		transition: all 0.3s ease-in-out;

		.userAvatar {
			background-color: var(--whiteColor);
			width: 35px;
			height: 35px;
			// margin-right: 3rem;
			border-radius: 50%;
			cursor: pointer;
		}

		.navPanelDropdown {
			position: absolute;
			top: calc(100% + 10px);
			right: 1rem;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 250px;
			min-height: 300px;
			max-height: 300px;
			background-color: var(--whiteColor);
			box-shadow: 0px 4px 4px 4px var(--lightGrayColor);
			font-weight: 400;
			transition: all 0.3s ease-in-out;
			visibility: hidden;
			opacity: 0;
			transform-origin: top;
			transform: scaleY(0);
			overflow-y: auto;
			z-index: 2001;

			.userName {
				width: 100%;
				height: 100%;
				text-align: center;
				white-space: nowrap;
				line-height: 40px;
				color: var(--blackColor);
				font-size: var(--textSize_14);
				font-weight: 400;
				transition: all 0.3s ease-in-out;
			}

			.navDropdownLinks {
				width: 100%;
				height: 100%;
				text-align: center;
				white-space: nowrap;
				line-height: 40px;
				color: var(--blackColor);
				border-top: 1px solid var(--blackColor);
				font-size: var(--textSize_14);
				font-weight: 400;
				transition: all 0.3s ease-in-out;
				&:hover {
					color: var(--whiteColor);
					background-color: var(--blackColor);
				}
				&:last-of-type {
					border-bottom: 1px solid var(--blackColor);
				}
			}

			.signOut {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				margin-top: auto;

				width: 100%;
				line-height: 40px;
				max-height: 40px;
				font-size: var(--textSize_16);
				border: none;
				color: var(--whiteColor);
				background-color: var(--blackColor);
				transition: all 0.3s;
				cursor: pointer;

				&:hover {
					background-color: var(--blackColorHover);
				}
			}
		}
		.displayVisibility {
			visibility: visible;
			opacity: 1;

			transform: scaleY(1);
		}
		.sideBarBtns {
			display: flex;
			align-items: center;
			background: transparent;
			border: none;
			cursor: pointer;
			fill: var(--sideBarColor);

			.logoutSvg {
				height: 25px;
				width: 25px;
				transition: all 0.3s;

				&:hover {
					fill: var(--mainColor);
				}
			}
			.dashboardIcon {
				width: 20px;
				height: 20px;

				path {
					transition: all 0.3s;
				}
				&:hover path {
					fill: var(--mainColor);
				}
			}
			.profileIcon {
				margin: auto;
				width: 25px;
				height: 25px;
			}
		}
	}
}

@media (width < 800px) {
	.navPanelWrapper {
		padding: 1rem 3.5rem;
	}
}
@media (width < 600px) {
	.navPanelWrapper {
		.navPanelMenu {
			.navPanelDropdown {
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				min-height: 100dvh;
				display: flex;
				flex-direction: column;
				align-items: center;

				background-color: var(--blackColor);
				transition: all 0.5s ease-in-out;
				z-index: 1002;
				visibility: visible;
				opacity: 0;
				transform-origin: center;
				transform: scaleY(1) translateX(-100%);

				.close {
					margin: 4rem 0;
					background-color: transparent;
					border: unset;
					cursor: pointer;

					.closeSVG {
						width: 28px;
						height: 28px;
						stroke-width: 1px;
						color: var(--whiteColor);
						transition: 0.3s all ease-in-out;
					}

					&:hover {
						.closeSVG {
							color: var(--lightGrayColor);
							scale: 1.1;
						}
					}
				}

				.userName,
				.navDropdownLinks,
				.signOut {
					width: 100%;
					min-height: var(--lineHeight);
					height: var(--lineHeight);
					color: var(--whiteColor);
					font-size: var(--textSize_20);
					line-height: var(--lineHeight);
					border-top: 1px dotted rgba(255, 255, 255, 0.1);
					transition: all 0.3s ease-in-out;
					overflow: hidden;
				}
				.navDropdownLinks {
					&:hover {
						background-color: var(--blackColorHover);
					}
				}
				 a:last-of-type{
					border-bottom: 1px dotted rgba(255, 255, 255, 0.1) !important;
				}
				.signOut {
					padding: 4rem 0;
				}
			}
			.displayVisibility {
				transform: translateX(0%);
				opacity: 1;
			}
		}
	}
}
