.desktopNavWrapper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	max-width: 1400px;
	margin: 0 auto;
	gap: 2rem;

	.link {
		font-size: var(--menu-TextSize);
		color: var(--whiteColor);
		font-weight: 600;
		&:hover {
			color: var(--lightGrayColor);
		}
	}
	.menuElementContainer {
		position: relative;
		display: flex;
		align-items: center;
		font-size: var(--menu-TextSize);
		font-weight: 600;
		color: var(--whiteColor);
		cursor: pointer;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: var(--lightGrayColor);
		}
		&:hover .chevron {
			rotate: 180deg;
		}
		.menuElement {
			display: flex;
			flex-direction: row;
			align-items: center;
			// pointer-events: none;
			.title {
				padding-right: 1rem;
				pointer-events: none;
			}

			.chevron {
				transition: all 0.3s ease-in-out;
				pointer-events: none;
			}
		}

		.subMenu {
			position: absolute;
			flex-direction: column;
			top: calc(50% + (var(--headerHeight) / 2));
			left: 0;
			width: 100%;
			background: var(--blackColorHover);
			opacity: 0;
			transform: scaleY(0);
			transform-origin: top;
			visibility: hidden;
			list-style: none;
			transition: all 0.3s ease-in-out;
			z-index: 1000;

			.subMenuLi {
				display: flex;
				align-items: center;
				position: relative;
				.subLink {
					// display: block;
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					white-space: nowrap;
					line-height: 1.8rem;
					padding: 0.7rem .5rem 0.7rem 2rem;
					color: var(--lightGrayColor);
					font-size: var(--subMenu-TextSize);
					font-weight: 400;
					transition: all 0.3s;

					&:hover {
						color: var(--whiteColor);
						background-color: var(--blackColor);

					}
					.chevronSub{
						min-width: 20px;
					}
					.chevronRotate {
						rotate: -90deg;
					}
				}
				.activeSubMenuLi {
					color: var(--whiteColor);
				}
			}
		}

		.active {
			opacity: 1;
			visibility: visible;
			transform: scaleY(1);
		}
	}
}

@media (max-width: 1700px) {
	.desktopNavWrapper {
		margin-left: calc(var(--logo-width));
	}
}
