.tagsWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	background-color: var(--whiteColor);
	border-radius: var(--borderRadius06);
	border: 1px solid var(--lightGrayColor);
	
	
}

