.confirmResetPasswordWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	height: 100dvh;
	background-color: var(--pagesBgc);
	padding: 2rem 4rem;

	.brandWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		.logo {
			width: 250px;
			height: 80px;
			margin: 2rem 0;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: all 0.3s ease-in-out;
				&:hover {
					scale: 1.05;
				}
			}
		}
	}

	h1 {
		margin-bottom: var(--vspace-0_25);
		color: var(--darkColor);
		font-size: var(--textSize_24);
		font-weight: 400;
	}

	.formWrapper {
		margin-top: var(--vspace-1);
		display: flex;
		flex-direction: column;

		.formInputBox {
			margin-bottom: 2rem;

			label {
				display: block;
				margin-bottom: 0.5rem;
				font-size: var(--textSize_14);
			}
			.formInput {
				position: relative;
				input {
					width: 100%;
					padding: var(--vspace-0_25);
					font-size: var(--textSize_16);
					font-family: var(--font-2);
					color: var(--textColor);
					border: 1px solid var(--lightGrayColor);
					outline: none;
					transition: all 0.3s;

					&:hover {
						box-shadow: 0px 0px 0px 2px var(--lightGrayColor);
						border-color: var(--whiteColor);
					}

					&:focus {
						box-shadow: 0px 0px 0px 2px var(--mainColor);
						border-color: var(--whiteColor);
					}
				}
			}
			.newPasswordInfo {
				margin-top: 0.5rem;
				font-size: 13px;

				li {
					display: flex;
					align-items: center;
					list-style: none;
					color: #889397;
					line-height: 20px;

					.checkSVG {
						width: 14px;
						height: 14px;
						margin-right: 0.3rem;
						path {
							fill: #889397;
						}
					}
				}
				.highlightLi {
					span {
						color: var(--mainColor);
					}
					.checkSVG {
						path {
							fill: var(--mainColor);
						}
					}
				}
				.errorLi {
					span {
						color: var(--errorColor);
					}
					.checkSVG {
						path {
							fill: var(--errorColor);
						}
					}
				}
			}
			.error {
				font-size: var(--textSize_12);
				color: var(--errorColor);
			}
		}
		.apiResponse {
			margin-bottom: 0;
		}

		.confirmButton {
			margin-top: var(--vspace-0_5);
			padding: 0 3.2rem;
			height: var(--btn-heightXs);
			font-size: 16px;
			color: var(--whiteColor);
			background-color: var(--lightGrayColor);
			line-height: calc(var(--btn-heightXs) - 1rem);
			letter-spacing: 0.2em;
			white-space: nowrap;
			border: none;
			border-radius: 0;
			cursor: not-allowed;
			transition: all 0.3s;
		}
		.enableButton {
			background-color: var(--blackColor);
			cursor: pointer;

			&:hover {
				background-color: var(--blackColorHover);
			}
		}
	}
}
