.postTagsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	// min-height: 100dvh;
	// height: 100%;
	width: 100%;
	height: calc(100dvh - var(--navPanelHeight));
	// background-color: var(--pagesBgc);
	background-image: var(--backgroundGradient);
	padding: 2rem;
	overflow: hidden;
}

@media (width < 800px) {
	.postTagsContainer {
		padding: 0;
	}
}