@use '../../../../assets/styles/variable' as *;
.profileTemplateContainer {
	display: flex;
	flex-direction: column;
	min-height: calc(100dvh - var(--headerHeight));
	height: 100%;
	width: 100%;
	padding: 2rem;
	background-image: var(--backgroundGradient);
	overflow: hidden;
}
