.ListOfCommentsContainer {
	display: flex;
	justify-content: center;
	height: calc(100dvh - var(--navPanelHeight));
	width: 100%;
	padding: 2rem;
	// background-color: var(--pagesBgc);
	background-image: var(--backgroundGradient);
	overflow: hidden;
}
@media (width < 700px) {
	.ListOfCommentsContainer {
		padding: 0;
	}
}
