.forgotPasswordWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 600px;
	min-height: 100dvh;
	height: 100%;
	background-color: var(--pagesBgc);

	padding: 2rem 4rem;

	.brandWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;

		.logo {
			width: 250px;
			height: 80px;
			margin: 2rem 0;

			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: all 0.3s ease-in-out;
				&:hover {
					scale: 1.05;
				}
			}
		}
	}

	h1 {
		margin-bottom: var(--vspace-0_25);
		color: var(--darkColor);
		font-size: var(--textSize_24);
		font-weight: 400;
	}
	p {
		font-size: var(--textSize_14);
		color: var(--darkColor);
		line-height: 2.2rem;
	}

	.formWrapper {
		margin-top: var(--vspace-1);
		display: flex;
		flex-direction: column;

		.apiResponse {
			margin-bottom: 0;
		}

		.resetButton {
			margin-top: var(--vspace-0_5);
			padding: 0 3.2rem;
			height: var(--btn-heightXs);
			font-size: 16px;
			color: var(--blackColor);
			background-color: var(--lightGrayColor);
			line-height: calc(var(--btn-heightXs) - 1rem);
			letter-spacing: 0.2em;
			white-space: nowrap;
			border: none;
			border-radius: 0;
			cursor: not-allowed;
			transition: all 0.3s;
		}
		.enableButton {
			background-color: var(--blackColor);
			color: var(--whiteColor);
			cursor: pointer;

			&:hover {
				background-color: var(--blackColorHover);
			}
		}
	}
}
