.usersHistoryContainer {
	display: flex;
	justify-content: center;
	height: calc(100dvh - var(--navPanelHeight));
	width: 100%;
	background-color: var(--pagesBgc);
	padding: 2rem;
	overflow: hidden;
}

@media (width < 700px) {
	.usersHistoryContainer {
		padding: 0;
	}
}
