.registrationWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 600px;
	background-color: var(--pagesBgc);
	padding: 2rem 4rem;
	.brandWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		.logo {
			width: 250px;
			height: 80px;
			margin: 2rem 0;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				transition: all 0.3s ease-in-out;
				&:hover {
					scale: 1.05;
				}
			}
		}
	}

	.formContainer {
		padding: 2rem;
		width: 100%;

		h1 {
			margin-bottom: var(--vspace-0_25);
			font-size: var(--textSize_30);
			font-weight: 400;
			color: var(--darkColor);
		}
		p {
			font-size: var(--text-xs);
			color: var(--color-text-light);

			a {
				font-weight: 600;
				color: var(--mainColor);
				transition: border-bottom 0.3s;

				&:hover {
					color: var(--mainColorHover);
				}
			}
		}

		.formWrapper {
			margin-top: var(--vspace-1);
			display: flex;
			flex-direction: column;

			
			.apiResponse {
				margin-bottom: 0;
			}
			.checkbox {
				display: flex;
				align-items: center;
				gap: 1rem;
				margin-bottom: 2rem;

				// .formCheckbox {
				// 	label {
				// 		display: flex;
				// 		flex-direction: row;
				// 		align-items: center;
				// 		line-height: 20px;
				// 	}
				// 	input {
				// 		display: none;
				// 	}

				// 	span {
				// 		color: var(--textColor);
				// 		margin-left: 1rem;
				// 		font-size: var(--textSize_14);
				// 		font-family: var(--font-2);

				// 		a {
				// 			color: var(--textColor);
				// 			font-weight: bold;

				// 			&:hover {
				// 				color: #0498ec;
				// 			}
				// 		}
				// 	}
				// 	.error {
				// 		margin-left: 2.5rem;
				// 		font-size: var(--textSize_12);
				// 		color: var(--errorColor);
				// 	}
				// }
			}
			.signInButton {
				margin-top: var(--vspace-0_5);
				padding: 0 3.2rem;
				height: var(--btn-heightXs);
				font-size: 16px;
				color: var(--whiteColor);
				background-color: var(--blackColor);
				line-height: calc(var(--btn-heightXs) - 1rem);
				letter-spacing: 0.2em;
				white-space: nowrap;
				border: none;
				border-radius: 0;
				cursor: pointer;
				transition: all 0.3s;

				&:hover {
					background-color: var(--blackColorHover);
				}
			}
		}
	}
	.socialWrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;
		color: var(--darkColor);
		font-size: var(--textSize_16);
		font-family: var(--font-2);
		.linksBox {
			display: flex;
			flex-direction: row;
			gap: 2rem;
		}
	}
}
