.formCheckbox {
	label {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		line-height: 20px;
		font-family: var(--fontFamily);
		margin-bottom: 1rem;
		font-size: var(--textSize_16);
		font-weight: 500;
		color: var(--textColor);
		z-index: 100;
		cursor: pointer;

		span {
			color: var(--textColor);
			margin-left: 1rem;
			font-size: var(--textSize_14);
			

			a {
				color: var(--textColor);
				font-weight: bold;

				&:hover {
					// color: #0498ec;
					color: var(--mainColor);
				}
			}
		}
	}
	input {
		display: none;
	}
}
.error {
	color: var(--errorColor);
	font-family: var(--fontFamily);
	font-size: var(--textSize_14);
}
