.editPostContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	min-height: 100dvh;
	padding: 2rem;
	// background-color: var(--pagesBgc);
	background-image: var(--backgroundGradient);
}
@media (width < 800px) {
	.editPostContainer {
		padding: 0;
	}
}