.sideBarContainer {
	display: flex;
	flex-direction: column;
	position: sticky;
	top: 6rem;
	min-width: 250px;
	width: 10%;
	height: calc(100dvh - var(--navPanelHeight));
	padding: 0 0 2rem;
	background-color: var(--whiteColor);
	transition: all 0.3s;
	overflow-y: auto;
	scrollbar-width: none;
	.sideBarMenu {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.sideBarLinks {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	
}

@media (width < 800px) {
	.sideBarContainer {
		position: fixed;
		top: 6rem;
		left: 0;
		transform: translateX(-101%);
		min-width: 200px;
		width: 25%;
		height: 100%;
		padding: 0 0 2rem 0;
		transition: transform 0.3s;
		overflow-y: auto;
		z-index: 2000;
	}

	.activeSideBar {
		transform: translateX(0);
	}
}
