.tagsListWrapper {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 2rem;
	width: 100%;
	max-width: 800px;
	.tagsTitle {
		font-size: var(--textSize_18);
		font-weight: 400;
		line-height: 4rem;
		font-family: var(--fontFamily);
		color: var(--sideBarColor);
	}

	.listWrapperTools {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem 0;
		.listTools {
			display: flex;
			flex-direction: row;

			.search {
				margin-left: 0;
			}
		}
	}

	.listWrapper {
		width: 100%;
		height: 100%;
		overflow: auto;

		.tableWrapper {
			width: 100%;
			border-collapse: collapse !important;

			.thead,
			.tbody {
				.tr {
					display: flex;
					flex-direction: row;

					.th,
					.td {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						width: 100%;
						min-width: 100px;
						padding: 1rem;
						gap: 1rem;

						&:nth-child(-n + 2) {
							min-width: 0;
							max-width: 40px;
							padding: 1rem 0;
							gap: 0.5rem;
						}
						&:nth-child(5) {
							max-width: 200px;
						}
						&:nth-child(n + 6) {
							max-width: 120px;
						}
						.chevronSVG {
							min-width: 16px;
							min-height: 16px;
							max-width: 16px;
							max-height: 16px;
						}
					}
				}
			}
			.thead {
				position: sticky;
				top: 0;
				background-color: var(--whiteColor);
				border-top: 1px solid var(--lightGrayColor);
				border-bottom: 1px solid var(--lightGrayColor);
				font-size: var(--textSize_10);
				text-transform: uppercase;
				z-index: 100;
				.tr {
					.th {
						position: relative;
						cursor: pointer;
						color: var(--darkerGrayColor);
						&:hover {
							color: var(--whiteColor);
							background-color: var(--bgcTabelHover);
						}
						.chevronRotate {
							rotate: 180deg;
						}
					}
				}
			}
			.tbody {
				height: 100%;
				font-size: var(--textSize_14);
				line-height: 2rem;
				background-color: var(--pagesBgc);
				.tr {
					color: var(--blackColor);
					transition: all 0.3s;
					&:nth-child(even) {
						background-color: var(--whiteColor);
					}
					.td {
						.textEllipsis {
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 3;
							line-clamp: 3;
							text-overflow: ellipsis;
							overflow: hidden;
						}
						.tabelLink {
							color: var(--blackColor);
							&:hover {
								color: var(--whiteColor);
							}
						}
					}
					&:hover {
						background-color: var(--bgcTabelHover);
					}
				}
			}
		}
		&::-webkit-scrollbar {
			width: 5px; /* szerokość paska */
			height: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--scrollBarColor);
		}

		/* tło toru przewijania */
		&::-webkit-scrollbar-track {
			background-color: var(--scrollBarBgc);
		}
	}

	.popupInfo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 2.4rem 3.4rem;
		.popupTitle {
			// text-align: center;
			font-size: var(--textSize_16);
			font-weight: 500;
			color: var(--blackColor);
		}
		.popupDeletedList {
			display: flex;
			flex-direction: column;

			max-height: 200px;
			overflow-y: auto;
			.popupItem {
				padding: 1rem 0;
				border-bottom: 1px solid var(--lightGrayColor);
				font-size: var(--textSize_16);
				color: var(--blackColor);
				line-height: 2rem;
			}
		}
	}
}
@media (width <= 800px) {
	.tagsListWrapper {
		.listWrapperTools {
			.listTools {
				display: flex;
				// flex-direction: column;
				flex-wrap: wrap;
				gap: 1rem;

				.createNew {
					width: 100%;
				}
			}
		}
	}
}
