.postsWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	// max-width: 1400px;

	border-radius: var(--borderRadius06);
	border: 1px solid var(--lightGrayColor);
	background-color: var(--whiteColor);

	.listWrapperTools {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
		.listTools {
			display: flex;
			flex-direction: row;
		}

		.filtersWrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1rem;

			.filterButton {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding: 0.5rem 1rem;
				color: var(--darkerGrayColor);
				background-color: var(--whiteColor);
				font-size: var(--textSize_10);
				border: 1px solid var(--lightGrayColor);
				border-radius: var(--borderRadius06);
				font-weight: bold;
				text-transform: uppercase;
				transition: all 0.3s;
				cursor: pointer;
				&:hover {
					color: var(--mainColor);
					border-color: var(--mainColor);
				}
				.chevronRotate {
					rotate: 180deg;
				}
			}
		}
	}

	.listWrapper {
		width: 100%;
		height: 100%;
		overflow: auto;

		.tableWrapper {
			width: 100%;
			border-collapse: collapse !important;

			.thead,
			.tbody {
				.tr {
					display: flex;
					flex-direction: row;

					.th,
					.td {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						width: 100%;
						min-width: 100px;
						padding: 1rem;
						gap: 1rem;

						&:nth-child(-n + 2) {
							min-width: 0;
							max-width: 40px;
							padding: 1rem 0;
							gap: 0.5rem;
						}

						.chevronSVG {
							min-width: 16px;
							min-height: 16px;
							max-width: 16px;
							max-height: 16px;
						}
					}
				}
			}
			.thead {
				position: sticky;
				top: 0;
				background-color: var(--whiteColor);
				border-top: 1px solid var(--lightGrayColor);
				border-bottom: 1px solid var(--lightGrayColor);
				font-size: var(--textSize_10);
				text-transform: uppercase;
				z-index: 100;
				.tr {
					.th {
						position: relative;
						cursor: pointer;
						color: var(--darkerGrayColor);
						&:hover {
							color: var(--whiteColor);
							background-color: var(--bgcTabelHover);
						}
						.theadDropDown {
							position: absolute;
							left: 0;
							top: 100%;
							display: flex;
							flex-direction: column;
							width: 100%;
							transform-origin: top;
							transform: scaleY(0);
							opacity: 0;
							visibility: hidden;
							color: var(--darkerGrayColor);
							background-color: var(--whiteColor);
							box-shadow: 0px 2px 2px 2px var(--lightGrayColor);
							transition: all 0.3s;

							div {
								padding: 1rem;
								&:hover {
									color: var(--whiteColor);
									background-color: var(--bgcTabelHover);
								}
							}
						}
						.scaleUp {
							transform: scaleY(1);
							opacity: 1;
							visibility: visible;
						}
						.chevronRotate {
							rotate: 180deg;
						}
					}
				}
			}
			.tbody {
				height: 100%;
				font-size: var(--textSize_14);
				line-height: 2rem;
				background-color: var(--pagesBgc);

				.tr {
					color: var(--blackColor);
					transition: all 0.3s;
					&:nth-child(even) {
						background-color: var(--whiteColor);
					}
					.td {
						img {
							width: 100%;
							// height: 100%;
							max-height: 60px;
							max-width: 100px;
							border-radius: var(--borderRadius06);
							object-fit: cover;
						}
						.listPostTitle {
							display: -webkit-box;
							-webkit-box-orient: vertical;
							-webkit-line-clamp: 3;
							text-overflow: ellipsis;
							line-clamp: 3;
							overflow: hidden;
							color: var(--blackColor);
							cursor: pointer;

							&:hover {
								color: var(--whiteColor);
							}
						}
						.published,
						.draft,
						.scheduled {
							width: 100%;
							max-width: 90px;
							padding: 0.5rem 1rem;
							color: var(--whiteColor);
							border-radius: var(--borderRadius06);
							text-align: center;
						}
						.published {
							background-color: var(--mainColor);
						}
						.scheduled {
							background-color: var(--blueColor);
						}
						.draft {
							background-color: var(--orangeColor);
						}
					}
					.categories {
						text-align: center;
					}

					.detailsButton,
					.editButton {
						display: flex;
						flex-direction: column;
						align-items: center;
						justify-content: center;
						padding: 0.5rem;
						background-color: transparent;
						border: none;
						border-radius: var(--borderRadius06);
					}
					&:hover {
						background-color: var(--bgcTabelHover);
					}
				}
			}
		}
		&::-webkit-scrollbar {
			width: 5px; /* szerokość paska */
			height: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--scrollBarColor);
		}

		/* tło toru przewijania */
		&::-webkit-scrollbar-track {
			background-color: var(--scrollBarBgc);
		}
	}

	.popupInfo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 2.4rem 3.4rem;
		.popupTitle {
			// text-align: center;
			font-size: var(--textSize_16);
			font-weight: 500;
			color: var(--blackColor);
		}
		.popupDeletedList {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			max-height: 200px;
			overflow-y: auto;
			span {
				padding: 0.5rem 0;
				font-size: var(--textSize_16);
				color: var(--blackColor);
				line-height: 2rem;
				border-bottom: 1px solid var(--lightGrayColor);
				
			}
		}
	}
}

@media (width <= 800px) {
	.postsWrapper {
		.listWrapperTools {
			.listTools {
				display: flex;
				// flex-direction: column;
				flex-wrap: wrap;
				gap: 1rem;

				.createNew {
					width: 100%;
				}
			}
		}
	}
}
