.subscribersWrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	// max-width: 1100px;
	border-radius: var(--borderRadius06);
	border: 1px solid var(--lightGrayColor);
	background-color: var(--whiteColor);

	.listWrapperTools {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 1rem;
		.listTools {
			display: flex;
			flex-direction: row;
		}

		.filtersWrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1rem;

			.filterButton {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				padding: 0.5rem 1rem;
				color: var(--darkerGrayColor);
				background-color: var(--whiteColor);
				font-size: var(--textSize_10);
				border: 1px solid var(--lightGrayColor);
				border-radius: var(--borderRadius06);
				font-weight: bold;
				text-transform: uppercase;
				transition: all 0.3s;
				cursor: pointer;
				&:hover {
					color: var(--mainColor);
					border-color: var(--mainColor);
				}
				.chevronRotate {
					rotate: 180deg;
				}
			}
		}
	}

	.listWrapper {
		width: 100%;
		height: 100%;
		// background-color: var(--whiteColor);
		// box-shadow: 0px 2px 1px 1px var(--lightGrayColor);
		overflow: auto;

		.tableWrapper {
			// display: flex;
			// min-width: 100%;
			width: 100%;
			border-collapse: collapse !important;

			.thead,
			.tbody {
				.tr {
					display: flex;
					flex-direction: row;

					.th,
					.td {
						display: flex;
						flex-direction: row;
						align-items: center;
						justify-content: center;
						gap: 1rem;
						padding: 1rem;
						min-width: 100px;
						width: 100%;
						// font-family: var(--font-2);
						color: var(--blackColor);

						&:nth-child(-n + 2) {
							min-width: 40px;
							max-width: 40px;
							padding: 1rem 0;
							gap: 0.5rem;
						}

						.chevronSVG {
							min-width: 16px;
							min-height: 16px;
							max-width: 16px;
							max-height: 16px;
						}
					}
				}
			}
			.thead {
				position: sticky;
				top: 0;
				background-color: var(--whiteColor);
				border-top: 1px solid var(--lightGrayColor);
				border-bottom: 1px solid var(--lightGrayColor);
				font-size: var(--textSize_10);
				text-transform: uppercase;
				z-index: 100;

				.tr {
					.th {
						position: relative;
						cursor: pointer;
						color: var(--darkerGrayColor);
						&:hover {
							color: var(--whiteColor);
							background-color: var(--bgcTabelHover);
						}
						.chevronRotate {
							rotate: 180deg;
						}
					}
				}
			}
			.tbody {
				height: 100%;
				font-size: var(--textSize_14);
				line-height: 2rem;
				background-color: var(--pagesBgc);
				.tr {
					position: relative;
					color: var(--blackColor);
					transition: all 0.3s;
					&:nth-child(even) {
						background-color: var(--whiteColor);
					}
					
					&:hover {
						background-color: var(--bgcTabelHover);
					}
				}
				.deletedSub{
					position: absolute;
					background-color: var(--blackColor);
					top: 0;left: 0;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					width: 100%;
					z-index: 1;
					color: var(--whiteColor);
				}
			}
		}
		&::-webkit-scrollbar {
			width: 5px; /* szerokość paska */
			height: 5px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: var(--scrollBarColor);
		}

		/* tło toru przewijania */
		&::-webkit-scrollbar-track {
			background-color: var(--scrollBarBgc);
		}
	}

	.popupInfo {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		padding: 2.4rem 3.4rem;
		.popupTitle {
			// text-align: center;
			font-size: var(--textSize_16);
			font-weight: 500;
			color: var(--blackColor);
		}
		.popupDeletedList {
			display: flex;
			flex-direction: column;
			gap: 1rem;
			max-height: 200px;
			overflow-y: auto;
			span {
				padding: 0.5rem 0;
				font-size: var(--textSize_16);
				color: var(--blackColor);
				line-height: 2rem;
				border-bottom: 1px solid var(--lightGrayColor);
			}
		}
	}
}

@media (width <= 800px) {
	.subscribersWrapper {
		.listWrapperTools {
			.listTools {
				display: flex;
				// flex-direction: column;
				flex-wrap: wrap;
				gap: 1rem;

				
			}
		}
	}
}
// @media (width <= 700px) {
// 	.subscribersWrapper {
// 		.pagination {
// 			padding: 2rem;
// 		}
// 	}
// }
// @media (width <= 500px) {
// 	.subscribersWrapper {
// 		.listWrapperHeader {
// 			flex-direction: column;
// 			gap: 1rem;
// 			padding: 2rem;
// 		}
// 		.pagination {
// 			justify-content: space-between;
// 			gap: 0;
// 		}
// 	}
// }
